<h1>New Company</h1>

<%= render 'form', user: @user %>


<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <a href="/users"><span aria-hidden="true">&larr;</span> Back</a>
    </li>
  </ul>
</nav>
