<h1>Editing Company</h1>

<%= render 'form', user: @user %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <%= link_to 'Back', users_path %>
    </li>

    <li class="previous">
      <%= link_to 'Show', users_ushow_path(@user) %>
    </li>
  </ul>
</nav>
