<h1>Editing Company</h1>

<%= render 'form', company: @company %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <%= link_to 'Back', companies_path %>
    </li>

    <li class="previous">
      <%= link_to 'Show', @company %>
    </li>
  </ul>
</nav>
