<h1>New Company</h1>

<%= render 'form', company: @company %>


<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <a href="/companies"><span aria-hidden="true">&larr;</span> Back</a>
    </li>
  </ul>
</nav>
