<h1>Editing Minute</h1>

<%= render 'form', minute: @minute %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><%= link_to 'Back', minutes_path %></li>
    <li class="previous"><%= link_to 'Show', @minute %></li>
  </ul>
</nav>
